<div class="container">
    <h1>To do list</h1>
    <div class="input-container">
        <%= f.text_field :title, class: 'input-field'%> //make placeholder 
        <input type="text" placeholder="add note" class="input-field">
        <button class="add-note-btn"><i class="fas fa-plus"></i></button>
    </div>
    <% @notes.each do |note| %>
        <p><%= note.content %></p>
    <% end %>
</div>