<div class="container">
    <div class="header">
        <h1>New note</h1>
        <a class="navigation-note-btn" href="<%=notes_path%>"><i class="fas fa-arrow-left"></i></a>
    </div>
    <div class="input-container">
        <input type="text" placeholder="add note" class="input-field">
        <button class="add-note-btn" href="<%=new_note_path%>"><i class="fas fa-plus"></i></button>
    </div>
</div>